@import 'global-style.css';
.card-body{
    padding:0 1.5rem 0  1.5rem !important;
  
}
.users-list {
    border-inline-end:1px solid #D6D6D6;
}
.users-list h3{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color:#515D72;
    margin-top: 27px;
    margin-bottom: 16px;
}
.chat-conversation .msg-btn{
    min-width: 133px !important;
    background-color: var(--second-color--);
    border-radius: 8px;
    padding:8px;
    color: #FAF8F7;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.chat-conversation input{
    border-radius: 8px;
    border: 1px solid #D6D6D6;
    color:#505050;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
