/* course-header */
.course-header {
  background-image: url(../images/course/header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 307px;
}

.course-header i {
  font-size: 18px;
  color: var(--light-withe-color);
}

.course-header__top-home {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: var(--light-withe-color);
  margin-left: 4px;
  margin-right: 8px;
}

.course-header__top-active {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--secondary-color);
  margin-inline-start: 8px;
}

.course-header__bottom h1 {
  margin-top: 16px;
  font-size: 56px;
  font-weight: 600;
  line-height: 84px;
  color: var(--white-color);
}

.course-search-form {
  margin-top: 44px;
  width: 100%;
  height: 56px;
  position: relative;
  border-radius: 16px;
}

.course-search-form input {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding-left: 48px;
}

.course-search-form i {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%) !important;
  pointer-events: none;
  color: var(--placeholder-color);
  font-size: 24px;
}

.course-search-form input::placeholder {
  color: var(--placeholder-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.course-search-form button {
  position: absolute;
  right: 7px;
  top: 50%;
  /* Move the button's center to the middle of the parent */
  transform: translateY(-50%);
  /* Adjust for the button's width */
  cursor: pointer;

  width: 131px;
  height: 42px;
  padding: 8px;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

/* responsive */

@media screen and (max-width: 992px) {
  .course-header {
    min-height: 213px;
  }

  .course-header__top {
    margin-top: 20px;
  }

  .course-header__top-home {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .course-header__top-active {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .course-header__bottom h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    margin-top: 8px;
    margin-bottom: 32px;
  }

  .course-search-form {
    margin-top: 32px;
    width: 90%;
    height: 46px;
    margin-bottom: 29px;
  }

  .course-search-form input {
    border-radius: 16px;
    padding-left: 48px;
  }

  .course-search-form i {
    width: 24px;
    height: 24px;
  }

  .course-search-form input::placeholder {
    font-size: 12px;
    line-height: 18px;
  }

  .course-search-form button {
    width: 82px;
    height: 33px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
}

/* c################# course-sidebar-list ###############################*/

.course-sidebar {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-inline-start: 0;
  background-color: var(--bg-light-grey-color);
}

.course-sidebar__heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: var(--black-color);
  position: relative;
  margin-bottom: 12px;
}

.course-sidebar__heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 147px;
  border: 2px solid #cacaca;
}

.course-sidebar__check[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 5px !important;
  /* Ensure no border-radius */
  -webkit-appearance: none;
  /* Remove default radio button appearance in WebKit browsers */
  appearance: none;
  /* Remove default appearance in modern browsers */
  background-color: var(--white-color);
  /* Optional: Set background color */
  border: 1px solid var(--primary-color);
  /* Optional: Set border to define the square */
}

.course-sidebar__check:checked {
  background-color: var(--primary-color);
  color: var(--white-color);
  position: relative;
}

.course-sidebar__check:checked::before {
  content: "\f00c";
  /* Unicode for Font Awesome check icon */
  font-family: "Font Awesome 6 Free";
  /* Font Awesome version 6 family */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: var(--white-color);
  font-weight: bold;
}

.parent li {
  margin-bottom: 18.5px;
}

.child li {
  margin-bottom: 8px;
}

.course-sidebar__rating {
  display: flex;
  gap: 8px;
  align-items: center;
}

.course-sidebar__rating span {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: #282828;
}

.course-sidebar__rating i {
  color: var(--secondary-color);
  font-size: 16.67px;
}

@media screen and (max-width: 992px) {
  .course-sidebar-list {
    padding-left: 10px;
    padding: 10px;
  }
}

/*############################### course-grid ########################### */
.course-grid {
  padding-inline-end: 80px;
}

.course-grid .row .course-grid__card {
  margin-bottom: 24px;
}

.course-grid__content {
  width: 100%;
  padding: 16px;
  background-color: var(--bg-light-grey-color);
  border-radius: 32px;
  min-height: 539px;
  height: 100%;
}

.course-grid__content-image {
  height: 246px;
  border-radius: 8px;
  position: relative;
}

.course-grid__content-image img {
  border-radius: 8px;
}

.course-grid__content-image i {
  padding: 8px;
  border-radius: 50%;
  background-color: #ffffffe3;
  color: var(--primary-color);
  top: 10px;
  right: 5px;
  position: absolute;
}

.course-grid__top {
  margin-top: 10px;
  margin-bottom: 8px;
}

.course-grid__top-category {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: var(--primary-color);
}

.course-grid__top-level {
  padding: 3px 19.5px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  backdrop-filter: blur(4px);
  border-radius: 8px;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.course-grid__middle-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--title-color);
}

.course-grid__middle-description {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;

  color: var(--paragraph-color);
}

.course-grid__middle-review {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.course-grid__bottom-instructor {
  gap: 12px;
}

.course-grid__bottom-instructor-image {
  width: 32px;
  height: 32px;

  border-radius: 50%;
}

.course-grid__bottom-instructor-name span {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;

  color: var(--dark-grey-color);
}

.course-grid__bottom-instructor-name h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--title-color);
}

.course-grid__bottom-price {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: var(--primary-color);
}

/* sorting */
.sorting {
  margin-top: 43px !important;
  margin-bottom: 47px;
}

.sorting-select {
  width: 208px;
  height: 40px;
  border-radius: 16px;
}

.sorting-showing-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--dark-grey-color);
}

.sorting button {
  border-radius: 50%;
  background-color: var(--white-color);
  border: none;
  outline: none;
}

.sorting i {
 
  font-size: 16px;

}
.sorting button.active  , .sorting a.active {
  color: var(--bg-light-grey-color);
  background-color: var(--primary-color);
}
/* for sorting on courses page  */
.sorting select{
    border-radius: 16px !important;
    border: 1px solid #D6D6D6 !important;
    backdrop-filter: blur(10px) !important;
  

}
.apppearance-btns {
    gap: 8px !important;
}
.apppearance-btns button , .apppearance-btns a {
    width: 40px;
    height: 40px;
    padding: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    background-color: var(--light-blue-color);
}
.num-showing p {
    margin-bottom: 0 !important;
    font-size: 16px;
  font-weight: 400;
  line-height:24px;
  color:#6B6B6B;
}
@media screen and (max-width: 1024px) {
  .course-grid {
    padding-inline-end: 0;
  }

  .course-grid .row {
    /* gap: 16px; */
    /* justify-content: center; */
  }

  .course-grid .row .col-md-6 {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .course-grid__content {
    width: 100%;
    padding: 18px;
    padding-top: 16px;
    border-radius: 24px;
    min-height: 475px;
  }

  .course-grid__content-image {
    height: 204px;
    border-radius: 8px;
  }

  .course-grid__top {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .course-grid__top-level {
    padding: 6px 20px;
  }

  .course-grid__middle-title {
    font-size: 16px;

    line-height: 24px;
  }

  .course-grid__middle-description {
    font-size: 12px;

    line-height: 18px;
  }

  .course-grid__middle-review {
    margin-top: 8px;
    margin-bottom: 8px;
    gap: 4px;
  }

  .course-grid__bottom-instructor {
    gap: 1.5px;
  }

  .course-grid__bottom-instructor-image {
    width: 40px;
    height: 40px;
  }

  .course-grid__bottom-instructor-name span {
    font-size: 12px;

    line-height: 18px;
  }

  .course-grid__bottom-instructor-name h6 {
    font-size: 14px;

    line-height: 21px;
  }

  .course-grid__bottom-price {
    font-size: 24px;
    line-height: 36px;
  }
}

.sorting-mobile {
  display: none;
}

/* Mobile */
@media (max-width: 992px) {
  .sorting-mobile {
    display: block !important;
  }

  .sorting-desktop {
    display: none !important;
  }

  .sorting {
    margin-bottom: 16px;
  }

  .course-wrapper {
    position: relative;
  }

  .course-wrapper.row {
    padding-right: 0;
    margin-right: 0;
  }

  .filter-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    z-index: 10;
    display: none;
  }
}

.sorting-mobile .sorting-select {
  width: 157px;
  height: 32px;

  border-radius: 10px;
}

.sorting-mobile .sorting-showing-text {
  margin-top: 31px;
}

/* #################### course-list view  ########################### */

.course-list {
  padding-inline-end: 80px;
}

.course-list .row {
  gap: 20px;
}

.course-list__content {
  padding: 16px;
  background-color: var(--bg-light-grey-color);
  border-radius: 32px;
  /* height: 100%; */
  gap: 24px;
}

.course-list__content-image {
  height: 246px;
  border-radius: 8px;
  position: relative;
  width: 40%;
}

.course-list__content-image img {
  border-radius: 8px;
}

.course-list__content-image i {
  padding: 8px;
  border-radius: 50%;
  background-color: #ffffffe3;
  color: var(--primary-color);
  top: 10px;
  right: 5px;
  position: absolute;
}

.course-list__top-category {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: var(--primary-color);
}

.course-list__top-level {
  padding: 3px 19.5px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.course-list__middle-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--title-color);
}

.course-list__middle-description {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;

  color: var(--paragraph-color);
}

.course-list__middle-review {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.course-list__bottom-instructor {
  gap: 12px;
}

.course-list__bottom-instructor-image {
  width: 32px;
  height: 32px;

  border-radius: 50%;
}

.course-list__bottom-instructor-name span {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;

  color: var(--dark-grey-color);
}

.course-list__bottom-instructor-name h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--title-color);
}

.course-list__bottom-price {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: var(--primary-color);
}

/* responsive */

@media screen and (max-width: 992px) {
  .course-list {
    padding-inline-end: 0;
  }

  .course-list .row {
    justify-content: center;
  }

  .course-list .row .col-md-6 {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .course-list__content {
    padding: 18px;
    padding-top: 16px;
    border-radius: 24px;
    gap: 16px;
  }

  .course-list__content-image {
    border-radius: 8px;
    width: 50%;
  }

  .course-list__middle-title {
    font-size: 16px;

    line-height: 24px;
  }

  .course-list__middle-description {
    font-size: 12px;

    line-height: 18px;
  }

  .course-list__middle-review {
    margin-top: 8px;
    margin-bottom: 8px;
    gap: 4px;
  }

  .course-list__bottom-instructor {
    gap: 1.5px;
  }

  .course-list__bottom-instructor-image {
    width: 40px;
    height: 40px;
  }

  .course-list__bottom-instructor-name span {
    font-size: 12px;

    line-height: 18px;
  }

  .course-list__bottom-instructor-name h6 {
    font-size: 14px;

    line-height: 21px;
  }

  .course-list__bottom-price {
    font-size: 24px;
    line-height: 36px;
  }

  .course-list__content-image {
    width: 100%;
  }
}

.course-list__middle-review i,
.course-grid__middle-review i {
  color: var(--secondary-color);
}
