.lesson__quiz {
    border-radius: 0;
    border: 1px solid #E4E4E4
}

.lesson__quiz .card-header {
    background-color: #F5F6F5 !important;
    border-radius: 0;
    padding-block: 12px;

}

.lesson__quiz .card-header h5 {

    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #282828;

}

.lesson__quiz .card-header span {

    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #5D5D5D;

}

.quiz__question,
.quiz__question-number {

    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #282828;

}

.quiz__label {

    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: #282828;

}

.quiz__input {
    margin-inline-end: 8px;
}

.quiz__input[type="checkbox"],
.quiz__input[type=radio] {
    width: 20px !important;
    height: 20px !important;
    border-radius: 5px !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    outline: none !important;
    box-shadow: none;
    background-color: var(--white-color) !important;
    border: 1px solid var(--primary-color) !important;
    cursor: pointer !important;
}

.quiz__input[type="checkbox"]:checked,
.quiz__input[type=radio]:checked {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
    position: relative;
}

.quiz__input[type="checkbox"]:checked::before,
.quiz__input[type=radio]:checked::before {
    content: "\f00c";
    /* Unicode for checkmark */
    font-family: "Font Awesome 6 Free";
    /* Ensure Font Awesome is loaded */
    position: absolute;
    inset-inline-start: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: var(--white-color);
    /* White checkmark */
    font-weight: bold;
}



.flag-label {

    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #5D5D5D;

}

.question-flag-checkbox[type="checkbox"],
.question-flag-checkbox[type=radio] {
    width: 15px !important;
    height: 15px !important;
    border-radius: 4px !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    outline: none !important;
    box-shadow: none;
    background-color: var(--white-color) !important;
    border: 1px solid var(--primary-color) !important;
    cursor: pointer !important;
}



.question-flag-checkbox[type="checkbox"]:checked,
.question-flag-checkbox[type=radio]:checked {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
    position: relative;
}

.question-flag-checkbox[type="checkbox"]:checked::before,
.question-flag-checkbox[type=radio]:checked::before {
    content: "\f00c";
    /* Unicode for checkmark */
    font-family: "Font Awesome 6 Free";
    /* Ensure Font Awesome is loaded */
    position: absolute;
    inset-inline-start: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: var(--white-color);
    /* White checkmark */
    font-weight: bold;
}




/* responsive */

@media (max-width: 992px) {


    .lesson__quiz .card-header h5 {

        font-size: 16px;
        line-height: 24px;

    }

    .lesson__quiz .card-header span {

        font-size: 14px;
        line-height: 20px;

    }


    .quiz__question,
    .quiz__question-number {

        font-size: 14px;
        font-weight: 400;
        line-height: 21px;



    }

    .quiz__label {

        font-size: 12px;

        line-height: 18px;


    }


    .flag-label {

        font-size: 12px;

        line-height: 18px;

    }



    .quiz__input[type="checkbox"],
    .quiz__input[type=radio] {
        width: 16px !important;
        height: 16px !important;

    }


    .question-flag-checkbox[type="checkbox"],
    .question-flag-checkbox[type=radio] {
        width: 10px !important;
        height: 10px !important;

    }


}

/* quiz__result */

.quiz__result .title {

    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #282828;


}

.quiz__result .total_marks,
.quiz__result .pass_mark,
.quiz__result .result {

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #434343,


}

.quiz__correct,
.quiz__wrong {

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;



}

.quiz__correct i,
.quiz__wrong i {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    /* Enables Flexbox */
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    margin-inline-end: 6px;
    color: var(--white-color);
}

.quiz__correct {
    margin-top: 5px;
    color: var(--text-success);
}

.quiz__correct i {
    background-color: var(--text-success);

}

.quiz__wrong {
    margin-top: 10px;
    color: var(--text-danger);
}

.quiz__wrong i {
    background-color: var(--text-danger);

}

/* responsive */

@media (max-width: 992px) {

    .quiz__result .title {

        font-size: 20px;
        font-weight: 500;
        line-height: 30px;


    }

    .quiz__result .total_marks,
    .quiz__result .pass_mark,
    .quiz__result .result {

        font-size: 16px;
        font-weight: 400;
        line-height: 24px;


    }


    .quiz__correct,
    .quiz__wrong {

        font-size: 16px;
        font-weight: 400;
        line-height: 24px;



    }

}