<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/tests" />
        <option value="$PROJECT_DIR$/application/libraries/openpayu_php/tests" />
        <option value="$PROJECT_DIR$/application/libraries/razorpay-php/tests" />
        <option value="$PROJECT_DIR$/application/libraries/Stripe/tests" />
        <option value="$PROJECT_DIR$/application/libraries/xendit/tests" />
      </list>
    </option>
  </component>
</project>